html { height: 100% }
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.registerpage-underline {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
}

.products-table {
    display: table;
    border-collapse: collapse; /* needed for borders on table/table-row to work */
}

.product-info {
    display: table-row;
    border-bottom: 1px solid #ccc;
}

.tablecell {
    display: table-cell;
}

.products-table  div:nth-child(odd) {

}

.product-info:last-child hr {
    display: none;
}

.navbar-inverse a.btn-link {
    color: #fff;
}